.jumbotron{
background-color: orangered;
font-family: 'Modak', cursive;
color: #0099ff;
}

h1{
    text-align: center;
}

body{
    background-color: #ffcc00;
}

.container{
    justify-content: right;
    flex-direction: row;
    
}

legend {

    font-family: 'Mansalva', cursive;
}

#add-cartoon {
    background-color: orangered;
    font-family: 'Mansalva', cursive;
}

#remove-cartoon {
    font-family: 'Mansalva', cursive;
}

